{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A channel about history of Uganda">
        <meta name="keywords" content="the ugandan history channel, tuhc, history channel, Uganda">

        <title>CIMS</title>
        <link rel="stylesheet" href="{% static '/users/login.css' %}">

    </head>

    <body>
        <div class="vessel">
            <h1>Clinic Management Information System</h1>
            <section id="form">
                <div>
                    <form class="center">
                        <div>
                            <br>
                            <input type="email" placeholder="Email Address" required>
                        </div>
                        <div>
                            <br>
                            <input type="password" placeholder="Password" required>
                        </div>
                        <button class="submit" type="submit">LOGIN</button>
                        <a href="/admin">ADMIN</a>
                        &nbsp;&nbsp;
                        <a href="#">Forgot Password</a>
                    </form>
                </div>
            </section>
        </div>

    </body>

</html>